.site-card {
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.site-card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.site-card p {
  font-size: 14px;
  margin-bottom: 6px;
}

#usageChart {
  width: 600px !important;
  height: 600px !important;
  height: auto;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chart-container,
.siteStatsContainer {
  margin: 10px;
  width: 50%;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
